HOLOLENS-TEST/Assets/Resources/George.meta
HOLOLENS-TEST/Assets/Resources/George/correctText.txt
HOLOLENS-TEST/Assets/Resources/George/correctText.txt.meta
HOLOLENS-TEST/Assets/Resources/George/George.cs
HOLOLENS-TEST/Assets/Resources/George/George.cs.meta
HOLOLENS-TEST/Assets/Resources/George/references.txt
HOLOLENS-TEST/Assets/Resources/George/references.txt.meta
HOLOLENS-TEST/Assets/Resources/George/rf2.txt
HOLOLENS-TEST/Assets/Resources/George/rf2.txt.meta
HOLOLENS-TEST/Assets/Resources/George/rf2correct.txt
HOLOLENS-TEST/Assets/Resources/George/rf2correct.txt.meta
HOLOLENS-TEST/Assets/Resources/George/text.txt
HOLOLENS-TEST/Assets/Resources/George/text.txt.meta
